{% extends 'base.html' %} 
{% block title %}About{% endblock title %}
{%block body%} 

<div class="container px-4 py-4 pb-0" id="featured-3">
    <h2 class="pb-2 border-bottom">About Us</h2>
    <p><b>DreamzzZ </b> is the helping hand for Software developers which focuses on providing the training and support to solve the developer’s problem.</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            
          </div>
        <h3 class="fs-2">Online Training</h3>
        <p>We provide online training with affordable cost.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          
        </div>
        <h3 class="fs-2">Live Support</h3>
        <p>Developers and Students can take help from our highly experienced experts on building the solution.​</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          
        </div>
        <h3 class="fs-2">Modern Tech</h3>
        <p>We work with all the latest technologies that are in high demand in the Software Industry.​</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
        </a>
      </div>
    </div>
  </div>




{% endblock body%}
