{% extends 'base.html' %} 

{% block title %}Home{% endblock title %}

{%block body%}

<div class="card text-center my-5 mx-3 ">
    <div class="card-header">
      Welcome!
    </div>
    <div class="card-body" >
      <h5 class="card-title">DreamzzZ</h5>
      <p class="card-text">We are here to bring solutions into your problems.</p>
      <a href="/service" class="btn btn-primary">Get's started</a>
    </div>
    <div class="card-footer text-muted" >
      Have a nice day.
    </div>
</div>

<h1 class= "text-center p-3 "> "Don't Wait for Opportunity, Create it."</h1>
  



{% endblock body%}
